/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
#Le .env est normalement ignoré, mais je le laisse pour que vous puissiez voir à quoi ça ressemble
#.env
