@font-face {
    font-family: "SF Pro Regular";
    src: url("../assets/fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: "SF Pro Bold";
    src: url("../assets/fonts/SF-Pro-Display-Bold.otf") format("opentype");
}   

@font-face {
    font-family: "SF Pro Semi-Bold";
    src: url("../assets/fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}   

@font-face {
    font-family: "SF Pro Italic";
    src: url("../assets/fonts/SF-Pro-Display-RegularItalic.otf") format("opentype");
} 

*{
    box-sizing: content-box;
}

html, body{
    max-height: 100vh;
    font-family: "SF Pro Regular";
}

header{
    position: absolute;
}

.columns:not(:last-child) {
    margin-bottom: 0px;
}

.index h1{
    padding: 30px;
    padding-bottom: 5px;
    font-size: 40px;  
}

.index h1 a{
    color: #4a4a4a;
    font-family: "SF Pro Semi-Bold";
}

.index h1 a:hover{
    color: #3273dc;
}


.index nav{
    padding: 25px;
    padding-bottom: 0px;
    padding-top: 10px;
}

.index nav a{
    margin-right: 10px;
    margin-bottom: 10px;
}

.column{
    max-height: 100vh;
    overflow-y: scroll;
    min-height: 0px;
}

.index{
    background-color: white;
}

.index nav a.button i{
   margin-right: 5px;
}


.indexList{
    padding: 100px;
    padding-top: 30px;
    padding-right: 10px;
}

.indexList h2{
    margin-bottom: 30px;
    font-size: 30px;
    margin-left: -70px;
    font-family: "SF Pro Semi-Bold";
}

.indexList ol{
    padding-left: 0px;
    font-size: 25px;
}

.indexList ol li{
    margin-bottom: 5px;
}

.indexList a.active {
    text-decoration: underline;
}

.content{
    background-color: #f3f3f3;
    box-shadow: -4px 0px 20px 0px  #A9A9A9;
    z-index: 10;
    height: 100vh !important;
}

.contentList{
    padding: 40px;
    padding-top: 32px;
    font-size: 20px;
    color: #4a4a4a;
}

.contentList h2{
    padding: 10px;
    box-sizing: content-box;
    margin-bottom: 20px;
    padding-bottom: 15px; 
    border-bottom: 1px solid #4a4a4a;
    padding-left: 0px;
    font-family: "SF Pro Semi-Bold";
    font-weight: normal;
}   

.contentList h4{
    box-sizing: content-box;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-top: 40px;
}   

.contentList ul{
    margin-top: 25px;
}

.contentList li{
    margin-bottom: 20px;
}

.contentList li a {
    font-size: 20px;
}

.create{
    background-color: #777777;
    box-shadow: -4px 0px 20px 0px  #A9A9A9;
    z-index: 100;
}

.content li+li{
    margin-top: 0em;
}

nav.breadcrumb{
    margin: 0px;
    margin-left: 10px;
}

.breadcrumb ul{
    margin-left: 2px;
    margin-top: 40px;
}

.breadcrumb ul li{
    margin-bottom: 0px;
}

.button{
    padding-bottom: 0em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    font-family: "SF Pro Regular";
}

.contentList iframe{
    padding-top: 20px;
}

.add{
    width: 70%;
    padding-left: 5px; 
}

.add .control{
    margin-right: 20px;
}

.control-container{
    padding-top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between; 
}

.field-container{
    padding-top: 30px;
}

.buttons-container{
    padding-top: 20px;
    display: flex;
    justify-content: space-between; 
    width: 40%;
}

.buttons-container .control button a{
    color: #4a4a4a;
}

p.topic{
    padding-left: 10px;
    padding-top: 15px;
    font-weight: 500;
    font-size: 22px;
}

ul.edit{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

ul.edit li.mark{
    margin-bottom: 0px;
    margin-top: 0px;
    width: 65%;
    word-wrap: break-word;
}

li.edit{
    list-style-type: none;
}

li.edit a.button{
    margin-left: 5px;
    margin-top: 9px;
    z-index: 1;
}

ul.credits{
    margin-top: 10px;
}    

ul.credits li{
    margin-bottom: 10px;
}

nav.indexLinks{
    margin-left: 0px;
}

.notification{
    position: absolute;
    width: 15%;
    right: 15px;
    top:15px;
    z-index: 200;
    box-shadow: -2px 2px 8px 0px rgb(219, 219, 219);
}

.delete::before, .modal-close::before {
    width: 38%;
}    

section.log{
    background-color: #f3f3f3;
}

.hero-body .notification{
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 60%;
    width: 25%;
}

.gif{
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56%;
}

.gif iframe{
    width: 100%;
    height: 100%;
    position: absolute;
}

.indexLinks ul li.mobile{
    display: none;
}

.content h5{
    margin-top: 50px;
}

a.feed{
    margin-top: 40px;
}

a.feedbk{
    margin-top: 40px;
}

p.feedback{
    font-family: "SF Pro Semi-Bold";
    font-size: 18px;
}

.feed{
    display: none;
}

label{
    font-family: "SF Pro Semi-Bold";
}

strong{
    font-family: "SF Pro Semi-Bold";
}

i{
    font-family: "SF Pro Italic";
}

.input{
    font-family: "SF Pro Regular"; 
}

.textarea{
    font-family: "SF Pro Regular";  
}

.version{
    display: flex;
    flex-direction: row !important;
}

.tags{
    margin-right: 15px;
}

a.feedback{
    font-size: 13.5px;
}

.menu-mobile{
    display: none;
}

button.lines-button{
    display: none;
}

@media screen and (max-width: 900px) {
    .indexList ol {
        margin-left: -45px;
    }
}


@media screen and (max-width: 768px) {

    .index{
        padding-bottom: 0px;
    }

    .index nav{
        float: right;
        padding-top: 15px;
    }

    .index nav a{
        float: right;
        margin-right: 0px;
        margin-left: 10px;
    }

    .index h1{
        font-size: 40px;
        padding-top: 9px;
        padding-left: 20px;
        margin-left: 0px;
        background-color: #3273dc;
        width: 100%;
        position: absolute;
        padding-top: 5px;
        z-index: 10000000;
        /* box-shadow: -4px 0px 10px 0px  #A9A9A9; */
    }

    .index h1 a{
        color: white;
        padding-top: 10px;
    }

    /* .indexList h2 {
        margin-left: 30px;
        font-size: 40px;
        margin-bottom: 0px;
        float: left;
        position: absolute;
        top: 72px;
    }  */

    .indexList h2#h2id {
        /* margin-left: 20px; */
        font-size: 40px;
        margin-bottom: 0px;
        float: left;
        position: absolute;
        top: 72px;
        /* width: 100%; */
        right: 0px;
        left: 0px;
    } 

    .indexList h2::after {
        background-image: url('../assets/img/chevron-down-solid.svg');
        background-size: 22px 22px;
        background-repeat: no-repeat;
        display: inline-block;
        width: 30px; 
        height: 22px;
        margin-left: 10px;
        content:"";
    }

    .version{
        display: none;
    }

    .indexList{
        padding: 0px;
        padding-top: 68px;
    }

    .buttonIndex{
        width: 100vw;
        display: block;
        height: 65px;
        /* position: absolute; */
        cursor: pointer;
        z-index: 1000;
    }

    .indexList ol{
        padding-top: 20px;
        margin-left: 55px;
        padding-bottom: 20px;
        display: none;
    }

    /* IF INDEX ITS OPEN */

    /* .indexList ol{
        padding-top: 75px;
        margin-left: 55px;
        padding-bottom: 20px;
    }

    .indexList h2::after {
        background-image: url('../assets/img/chevron-up-solid.svg');
        background-size: 22px 22px;
        background-repeat: no-repeat;
        display: inline-block;
        width: 30px; 
        height: 22px;
        margin-left: 10px;
        content:"";
    } */

    .contentList {
        padding: 20px;
        padding-top: 10px;
    } 

    .contentList p{
        padding-left: 0px;
        padding-right: 10px;
    } 

    .contentList h5{
        padding-left: 0px;
        padding-right: 10px;
    } 

    .contentList .field{
        display: block;
        right: 35px;
    }
    .content h2:not(:first-child) {
        margin-top: -13px;
    }
    
    .content{
        box-shadow: none;
        margin-top: 0px;
        height: 100vh;
    }
    nav.breadcrumb {
        margin-left: 0px;   
    }     

    .contentList h4 {
        margin-left: 0px;
    }

    .indexLinks ul li.mobile{
        display: inherit;
    }

    a.desktop{
        display: none;
    }

    .index h1 a:hover{
        color: rgb(223, 223, 223);
    }

    .control-container{
        padding-top: 10px;
        width: 50%;
        display: flex;
        justify-content: space-between; 
    }

   .add{
        width: 94%;
        padding-left: 5px; 
    }

    .buttons-container{
        width: 30%;
        margin-right: 20px;
    }

    .notification{
        position: absolute;
        width: 35%;
    }  

    /* Menu Mobile */

    /* .menu-mobile-burger{
        position: absolute;
        right: 10px;
        top: 22px;
    }

    .burger-menu {
        display: inline-block;
        width: 30px;
        height: 20px;
        position: relative;
        padding-left: 0px;
        padding-right: 10px;
        padding-top: 2px;
        background-color: transparent;
        border: none;
      }

      .burger-menu span {
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 1px;
      margin-top: 6px;
      background: #fff;
      }
      
      .burger-menu span:first-child {
          margin-top: 0;
      }

 */

.menu-burger{
    position: absolute;
    top: 3px;
    right: 10px;
}


      .lines-button {
        display: block !important;
        position: relative;
        float:right;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 90px;
        height: 56px;
        font-size: 0;
        text-indent: -9999px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        -webkit-transition: background 0.3s;
        transition: background 0.3s;
        z-index: 1000000000;
        right: 10px !important;
    }
    .lines-button:focus {
        outline: none;
    }
    .lines-button span {
        display: block;
        position: absolute;
        left: 55px;
        right: 0px;
        height: 4px;
        background: white;
        border-radius: 0.57143rem;
    }
    .lines-button span::before, .lines-button span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 0.57143rem;
        content:"";
    }
    .lines-button span::before {
        top: -10px;
    }
    .lines-button span::after {
        bottom: -10px;
    }
    .lines {
        background: none;
    }
    .lines span {
        -webkit-transition: background 0s 0.3s;
        transition: background 0s 0.3s;
    }
    .lines span::before, .lines span::after {
        -webkit-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
    }
    .lines span::before {
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
    }
    .lines span::after {
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform;
    }
    .lines.close {
        background: none;
    }
    .lines.close span {
        visibility: hidden;
    }
    .lines.close span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        visibility: visible;
        /* background: #4a4a4a; */
    }
    .lines.close span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        visibility: visible;
        /* background: #4a4a4a; */
    } 
      .menu-mobile{
        position: fixed !important;
        width: 100%;
        z-index: 100000;
        height: 100% !important;
        display: none;
        top: 0px;
        background-color: rgb(223, 223, 223);
        background-color: #f3f3f3;
        left: 0px;
      }

      .menu-mobile-links{
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        font-size: 40px;
        padding-left: 10px;
        padding-right: 20px;
      }

      .menu-mobile-links a{
        color: #4a4a4a;
        border-bottom: 1px solid black;
      }
      a.button{
          z-index: 100000000;
      }
      .indexList h2{
        margin-left: 20px;
    } 

}

@media screen and (max-width: 640px) {
 html{
     background-color: #f3f3f3;
 }   
 .index h1{
        right: 0;
        left: 0;
        margin-right: 0;
        padding-right: 0;
        width: auto;
    }
.indexList h2{
    margin-left: 20px;
}    


.columns{
    margin-right: 0em;
}

.contentList{
    margin-left: 5px;
    margin-right: -5px;
    padding: 10px;
}

.index nav{
    padding-right: 3px;
}

ul.edit{
    margin-left: 0px;
    list-style: none;
}

ul.edit li{
    flex:1;
}

ul.edit li p{
    padding-left: 0px;
}

ul.edit li.edit{
    margin-right: 0px;
}

a.titleMobile{
    display: block;
}

.feed{
    display: inline-flex;
}

ul.edit{
    display: flex;
    flex-direction: column;
}

li.edit a.button {
    margin-left: 0px;
    /* background-color: transparent;
    border: none; */
}  

}

@media screen and (max-width: 500px) {

.index h1{
font-size: 1.3em;
padding: 19.5px;
}

.contentList h2{
    font-size: 30px;
}

.indexList h2#h2id {
    top: 78px;
    font-size: 32px;
}
}

@media screen and (max-width: 363px) {

    .select select:not([multiple]) {
        padding-right: 22px;
    }
}



@media screen and (max-width: 330px) {
    .index nav .button{
        font-size: 14px;
        top: 3px;
    }
}